---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=DUMMY_API_KEY&AssociateTag=DUMMY_ASSOCIATE_TAG&ItemId=0759113475&Operation=ItemLookup&ResponseGroup=Large&Service=AWSECommerceService&Signature=tOjTljzXThFLdtw58/XAX0D3PAvyqN3Ui3/7C2FVnYQ=&Timestamp=2014-09-30T14:16:51-04:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Cneonction:
      - close
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Ruby"></Header></HTTPHeaders><RequestId>7ed35c2f-5b52-4fe6-963c-680587702a35</RequestId><Arguments><Argument
        Name="Service" Value="AWSECommerceService"></Argument><Argument Name="Operation"
        Value="ItemLookup"></Argument><Argument Name="Signature" Value="tOjTljzXThFLdtw58/XAX0D3PAvyqN3Ui3/7C2FVnYQ="></Argument><Argument
        Name="AssociateTag" Value="DUMMY_ASSOCIATE_TAG"></Argument><Argument Name="ItemId"
        Value="0759113475"></Argument><Argument Name="AWSAccessKeyId" Value="DUMMY_API_KEY"></Argument><Argument
        Name="Timestamp" Value="2014-09-30T14:16:51-04:00"></Argument><Argument Name="ResponseGroup"
        Value="Large"></Argument></Arguments><RequestProcessingTime>0.0296040000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>0759113475</ItemId><ResponseGroup>Large</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest><Errors><Error><Code>AWS.ECommerceService.ItemNotAccessible</Code><Message>This
        item is not accessible through the Product Advertising API.</Message></Error></Errors></Request></Items></ItemLookupResponse>
  recorded_at: Tue, 30 Sep 2014 18:16:51 GMT
recorded_with: VCR 2.9.3
