--- 
http_interactions: 
- request: 
    method: post
    uri: http://bobcat.library.nyu.edu/PrimoWebServices/services/searcher
    body: 
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:wsdl="http://bobcat.library.nyu.edu/PrimoWebServices/services/searcher" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><env:Body><searchBrief><request><![CDATA[<searchRequest xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents" xmlns="http://www.exlibris.com/primo/xsd/wsRequest"><PrimoSearchRequest xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator><QueryTerm><IndexField>isbn</IndexField><PrecisionOperator>exact</PrecisionOperator><Value>0027-4631</Value></QueryTerm></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution></searchRequest>]]></request></searchBrief></env:Body></env:Envelope>
    headers: 
      Soapaction: 
      - "\"searchBrief\""
      Content-Type: 
      - text/xml;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=utf-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><searchBriefResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><searchBriefReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;sear:SEGMENTS xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot; xmlns:sear=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;
          &lt;sear:JAGROOT&gt;
            &lt;sear:RESULT&gt;
              &lt;sear:QUERYTRANSFORMS/&gt;
              &lt;sear:FACETLIST ACCURATE_COUNTERS=&quot;true&quot;&gt;
                &lt;sear:FACET COUNT=&quot;1&quot; NAME=&quot;lcc&quot;&gt;[...]
