---
http_interactions:
- request:
    method: get
    uri: http://www.archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&q=title:%22mark%20twain%22%20AND%20creator:(paine)%20AND%20(mediatype:texts%20OR%20mediatype:audio)&rows=999&xmlsearch=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html
      Location:
      - http://archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&xmlsearch=Search&rows=999&q=title:%22mark+twain%22+AND+creator:%28paine%29+AND+(mediatype:texts+OR+mediatype:audio)
    body:
      encoding: US-ASCII
      string: ! "<html>\r\n<head><title>302 Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>302
        Found</h1></center>\r\n<hr><center>nginx/1.1.19</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 09 Feb 2015 22:48:05 GMT
- request:
    method: get
    uri: http://archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&q=title:%22mark%20twain%22%20AND%20creator:(paine)%20AND%20(mediatype:texts%20OR%20mediatype:audio)&rows=999&xmlsearch=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":8,"params":{"wt":"json","rows":"999","qin":"title:\"mark
        twain\" AND creator:(paine) AND (mediatype:texts OR mediatype:audio)","fl":"*","start":"0","q":"title:\"mark
        twain\" AND creator:(paine ) AND ( mediatype:texts OR mediatype:audio )"}},"response":{"numFound":91,"start":0,"docs":[{"title":"mark
        twain''s letters","mediatype":"texts","year":1917,"date":"1917-01-01T00:00:00Z","description":"Book
        digitized by Google and uploaded to the Internet Archive by user tpb.","imagecount":461,"publicdate":"2008-10-19T02:38:26Z","source":"http://books.google.com/books?id=qqKmd9tNlfYC&oe=UTF-8","downloads":238,"week":0,"month":19,"identifier":"marktwainslette00paingoog","contributor":["unknown
        library"],"format":["Abbyy GZ","Animated GIF","DjVu","DjVuTXT","Djvu XML","Flippy
        ZIP","Image Container PDF","Metadata","Scandata","Single Page Processed TIFF
        ZIP"],"language":["Dutch"],"collection":["americana"],"oai_updatedate":["2008-10-19T02:38:26Z","2009-05-30T10:56:50Z"],"creator":["albert
        bigelow paine"]},{"mediatype":"texts","scanningcentre":"Ccl,Hyderabad","type":"Text","title":"Mark
        twain''S notebook","downloads":4188,"week":48,"month":158,"identifier":"MarkTwainsNotebook","subject":["-"],"format":["Book
        Cover","DjVu","HTML","JPEG","Metadata","TIFF"],"collection":["millionbooks","universallibrary"],"language":["English"],"oai_updatedate":["2003-11-21T09:56:35Z","2003-11-14T17:15:00Z"],"creator":["Albert_bigelow_paine"]},{"title":"Moments
        with Mark Twain","description":"1","date":"1920-01-01T00:00:00Z","mediatype":"texts","call_number":"ps
        1331 p32","publicdate":"2009-08-19T15:11:38Z","imagecount":334,"foldoutcount":0,"downloads":496,"week":3,"month":10,"identifier":"momentswithmarkt00painuoft","contributor":["Scott
        - York University Libraries"],"subject":["Twain, Mark, 1835-1910"],"format":["Abbyy
        GZ","Animated GIF","Archive BitTorrent","DjVu","DjVuTXT","Djvu XML","Dublin
        Core","Flippy ZIP","Grayscale LuraTech PDF","MARC","MARC Binary","MARC Source","Metadata","Scribe
        Scandata ZIP","Single Page Processed JP2 ZIP","Single Page Raw JP2 ZIP","Text
        PDF"],"collection":["YorkUniversity","toronto"],"language":["eng"],"oai_updatedate":["2009-08-19T15:11:29Z","2009-08-19T15:11:31Z","2009-08-19T15:11:38Z","2012-08-03T07:56:45Z"],"publisher":["New
        York : Harper"],"creator":["Paine, Albert Bigelow, 1861-1937"]},{"mediatype":"texts","title":"Moments
        with Mark Twain","description":"The metadata below describe the original scanning.
        Follow the \"All Files: HTTP\" link in the \"View the book\" box to the left
        to find XML files that contain more metadata about the original images and
        the derived formats (OCR results, PDF etc.). See also the <a href=\"http://www.archive.org/about/faqs.php#140\"
     [...]
