<%
  group_list = ('A'..'Z').to_a
  if (! @use_umlaut_journal_index )
    group_list.push('0-9')
    group_list.push('Other')
  end
%>
  

  <p class="azNav">
  <% group_list.each { | letter |%>
  <%= link_to letter, :action=>"journal_list", :id=>letter%>
  <%}%>
  </p>

