---
http_interactions:
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/json/isbn:038519093X
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"isbn:038519093X":{"records":{"000346062":{"recordURL":"http:\/\/catalog.hathitrust.org\/Record\/000346062","titles":["Momo
        \/"],"isbns":["9780385190930","9780385190930"],"issns":[],"oclcs":["10779071"],"lccns":["84010157"],"publishDates":["1985"]}},"items":[{"orig":"University
        of Michigan","fromRecord":"000346062","htid":"mdp.39015054080638","itemURL":"http:\/\/hdl.handle.net\/2027\/mdp.39015054080638","rightsCode":"ic","lastUpdate":"20120614","enumcron":false,"usRightsString":"Limited
        (search-only)"}]}}'
  recorded_at: Fri, 22 Feb 2013 17:18:28 GMT
recorded_with: VCR 2.4.0
