---
http_interactions:
- request:
    method: get
    uri: http://sfx.library.edu/local?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2012-10-03T12:52:17-04:00&ctx_ver=Z39.88-2004&rft.issn=0362-4331&rft.jtitle=The%20New%20York%20times&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\n<ctx_obj_set>\n <ctx_obj
        identifier=\"\">\n  <ctx_obj_attributes>&lt;perldata&gt;\n &lt;hash&gt;\n
        \ &lt;item key=\"rft.issn\"&gt;0362-4331&lt;/item&gt;\n  &lt;item key=\"ctx_tim\"&gt;2012-10-03T12:52:17-04:00&lt;/item&gt;\n
        \ &lt;item key=\"sfx.show_availability\"&gt;1&lt;/item&gt;\n  &lt;item key=\"_stash\"&gt;\n
        \  &lt;hash&gt;\n   &lt;/hash&gt;\n  &lt;/item&gt;\n  &lt;item key=\"ctx_ver\"&gt;Z39.88-2004&lt;/item&gt;\n
        \ &lt;item key=\"rft.eissn\"&gt;1553-8095&lt;/item&gt;\n  &lt;item key=\"rft.place\"&gt;New-York
        [N[...]
- request:
    method: post
    uri: http://primo.library.edu/PrimoWebServices/services/primo/searcher
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<env:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
        \   xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n    xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\">\n
        \ <env:Body>\n    <n1:searchBrief env:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"\n
        \       xmlns:n1=\"http://www.exlibris.com/primo/xsd/wsRequest\">\n      <searchBriefRequest
        xsi:type=\"xsd:string\">&lt;searchRequest xmlns=&apos;http://www.exlibris.com/primo/xsd/wsRequest&apos;&gt;&lt;PrimoSearchRequest
        xmlns=&apos;http://www.exlibris.com/primo/xsd/search/request&apos;&gt;&lt;QueryTerms&gt;&lt;BoolOpeator&gt;AND&lt;/BoolOpeator&gt;&lt;QueryTerm&gt;&lt;IndexField&gt;isbn&lt;/IndexField&gt;&lt;PrecisionOperator&gt;exact&lt;/PrecisionOperator&gt;&lt;Value&gt;0362-4331&lt;/Value&gt;&lt;/QueryTerm&gt;&lt;/QueryTerms&gt;&lt;StartIndex&gt;1&lt;/StartIndex&gt;&lt;BulkSize&gt;5&lt;/BulkSize&gt;&lt;DidUMeanEnabled&gt;false&lt;/DidUMeanEnabled&gt;&lt;HighlightingEnabled&gt;false&lt;/HighlightingEnabled&gt;&lt;/PrimoSearchRequest&gt;&lt;institution&gt;INST&lt;/institution&gt;&lt;/searchRequest&gt;</searchBriefRequest>\n
        \   </n1:searchBrief>\n  </env:Body>\n</env:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - ! '""'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><ns1:searchBriefResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns1=\"http://www.exlibris.com/primo/xsd/wsRequest\"><searchBriefReturn
        xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">&lt;sear:SEGMENTS
        xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot; xmlns:sear=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;\n
        \ &lt;sear:JAGROOT&gt;\n    &lt;sear:RESULT&gt;\n      &lt;sear:QUERYTRANSFORMS/&gt;\n
[...]
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/json/lccn:sn78004456
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"lccn:sn78004456":{"records":[],"items":[]}}'
  recorded_at: Wed, 03 Oct 2012 18:15:06 GMT
- request:
    method: post
    uri: https://ws.isiknowledge.com/cps/xrpc
    body:
      encoding: UTF-8
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<request xmlns=\"http://www.isinet.com/xrpc41\"
        src=\"app.id=Umlaut\">\n  <fn name=\"LinksAMR.retrieve\">\n    <list>\n      <map/>\n
        \     <map>\n        <list name=\"JCR\">\n          <val>impactGraphURL</val>\n
        \       </list>\n      </map>\n      <map>\n        <map name=\"cite_id\">\n
        \         <val name=\"issn\">0362-4331</val>\n          <val name=\"stitle\">The
        New York times</val>\n        </map>\n      </map>\n    </list>\n  </fn>\n</request>\n"
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8" ?>

        <response xmlns="http://www.isinet.com/xrpc41" src="app.id=Umlaut">

        <fn name="LinksAMR.retrieve" rc="OK">

        <map>

        <map name="cite_id">

        <map name="JCR">

        <val name="message">No Result Found</val>

        </map>

        </map>

        </map>

        </fn>

        </response>

'
  recorded_at: Wed, 03 Oct 2012 18:15:06 GMT
recorded_with: VCR 2.2.5
