<%= error_messages_for 'institution' %>

<!--[form:institution]-->
<p><label for="institution_name">Name</label><br/>
<%= text_field 'institution', 'name'  %></p>

<p><label for="institution_default_institution">Default institution</label><br/>
</p>
<!--[eoform:institution]-->

