<html>
      <head>
<%= javascript_include_tag :defaults %>       
<title>Load Journal Titles</title>
   <script type="text/javascript">
     function progressStatus(task, status) {
       document.getElementById(task).innerHTML= status
     }
   </script>
</head>
<body>


<div><strong><span id='progress_status'>working</span></div>


<%= periodically_call_remote(:url => {:action => 'get_progress'}, :frequency => 5) %>

<%= session[:job_key].inspect -%>
</body>

</html>