---
http_interactions:
- request:
    method: get
    uri: http://api.elsevier.com/content/search/index:SCOPUS?apiKey=DUMMY_API_KEY&query=DOI(
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Els-Status:
      - INVALID_INPUT(Unable to translate query provided)
      X-Els-Reqid:
      - 000001458afaadb1-21e17cd
      X-Els-Apikey:
      - DUMMY_API_KEY
      X-Els-Transid:
      - 34494ebb-008e-438b-b107-ab65e929d597
      Allow:
      - GET
      Content-Type:
      - text/xml;charset=UTF-8
      X-Cnection:
      - close
      X-Re-Ref:
      - 1 -154749808
    body:
      encoding: US-ASCII
      string: ! "<service-error>\n\t<status>\n\t\t<statusCode>INVALID_INPUT</statusCode>\n\t\t<statusText>Unable
        to translate query provided</statusText>\n\t</status>\n</service-error>"
  recorded_at: Thu, 08 May 2014 16:27:58 GMT
recorded_with: VCR 2.5.0
