<h2><%=t('umlaut.services.txt_holding_export.text_sent', :number => @number)%></h2>
<div id="txt_success" class="alert alert-success">
    <%=t('umlaut.services.txt_holding_export.text_sent', :number => @number)%>
</div>