html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset{
	margin: 0;
	padding: 0;
	border: 0;
}
/* hide from IE mac \*/
html {
    min-height: 100%;
    margin-bottom: 1px;
}
/* end hiding from IE5 mac */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
ul { 
	list-style-type: none;
}
h1 {
	font-size: 18px;;
	font-style:italic;
	font-weight:bold;
	margin-bottom:15px;
}
h2 {
	font-size: 15px;
	font-weight:bold;
	margin-bottom:10px;
}
h3 {
	font-size: 12px;
	font-weight:bold;
	margin-bottom:8px;
}
h4 {
	font-size: 12px;
	font-weight:bold;
	/* margin-top:5px; */
  margin-bottom: 2px;
}

/*a {
  text-decoration: none;
}*/

#menuWrapper {
	width: 780px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
  margin-right: auto;
	padding:0;
	display: block; 
  border: 1px solid #eeb211;
  background-color: #FFFDEA;
}

#menuWrapper #bothColumns a {
  text-decoration: none;
  font-weight: bold;
}
#menuWrapper #bothColumns a:hover {
  color: #EEB211;
}

#searchWrapper {
	width: 780px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
  margin-right: auto;
	padding: .5em;
	display: block; 
  border: 1px solid #eeb211;
}

#headerStatusBar {
  border-bottom: 1px solid #eeb211;
  background-color: #FCF1D4;
  padding: 3px; 
}

.pagination {
    border: 1px solid #e9e9e9;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
}

.oneColumn {
  padding: 10px;
}

/*  2 columns: This is actually the class for the left column div, sorry.  */
	
#twoColumns {
	width: 550px;
	padding: 10px;
	margin:0;
	float: left;
	font-size:12px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #eeb211;
  background-color: #FFFDEA;
}
#twoColumns ol, ul{
	margin-left: 20px;
}

#bothColumns {
  font-size: 12px;
  background-color: #FFFDEA;
}

#service_errors_content {
  background-color: white;
}

.content {
  font-size: 12px;
  padding: 10px;
}

/*  Right Column */
	
#rightColumn {
/*	width: 190px;*/
	margin-left:570px;
	padding-top: 5px;
  background-color: #FFFDEA;
  font-size:11px;
}

/* Small boxes for the right column, like Help and Errors */

.small_right_box {
  padding: 5px;
  margin: 6px;
  border: 1px solid #E9E9E9;
}

.small_right_box li 	{
  text-align: right;
  padding: 2px 0px 2px 4px;
}

#helpicon {
  font-size: 45px;
  font-weight: bold;
  float: left;
  background-color: #FCF1D4;
  margin-right: 12px;
  padding-right: 6px;
  padding-left: 6px;
}

.error_icon {
  font-size: 22px;
  font-weight: bold;
  float: left;
  background-color: #FFFF66;
  color: 	#CC3333;
  margin-right: 4px;
}

.clear {
  clear: both;
}

/*  Horizontal Line */

.line {
	width: 100%;
	border-bottom: 1px solid #e9e9e9;
	margin: 4px 0px 0px;}
	
.line2 {
	width: 100%;
	border-bottom: 1px solid #eeb211;
	margin: 10px 0px 15px;}


/* Some more styles */

 /* For disabled inline text  */
.grayedOut {
  color: #999999;
  text-decoration:  none;
}
  
  
/* Below here, not sure which of these we use exactly at present in non-GATech specific stuff.  */  
  
  
/*  Box with yellow outline */

.outlineBox {
	border:1px solid #eeb211;
	padding: 10px;
	background-color:#eee;
}
.formError {
	font-size: 18px;
	font-weight: bold;
	color: #EA0000;
	font-style: italic;
}
.leftToc {
	float:  left;
	width:  180px;
	background-color:  #eeeeee;
	border:  1px solid #eeb211;
	padding:  5px;
	margin-right: 8px;
	margin-bottom: 5px;

}
.error {
	color:#CC0000;
	font-size:14px;
	font-weight:bold;
}

.notice {
  background-color: #FCF1D4;
}

hr {
  border: 0;
  height: 1px;
  color: #E9E9E9;
  background-color: #E9E9E9;*/  
}

/*  Specific application styles */

#fulltext {
}

.highlighted_section {
  background-color: white;
  border: 1px solid #e9e9e9;
  margin: -4px;
  padding: 4px;  
}

.notAvailable {
	color: #FF0000;
	font-style: italic;
	font-size:12px;
}
.available {
	color: #00CC33;
	font-style: italic;
	font-size: 12px;
}
.resourceInfo {
	font-size:11px;
	padding: 2px;
	width: 540px;
	border: 1px solid #e9e9e9;
  background-color: white;
}	
.resourceInfo a:link { 
  /*text-decoration:underline;*/
  color : #666; 
}

.citationLinker {
	font-size:11px;
	padding: 2px;
	border: 1px solid #ebb211;
	background-color: #eee;
  margin-bottom: 12px;
  margin-top: 12px;
}	
.citationLinker a:link { 
   /*text-decoration:underline;*/
   color : #666; 
}

/* .sidebar_section was .seeAlso */
.sidebar_section {
	padding:5px;
  margin: 5px;
}
.sidebar_section a:link { 
  /* text-decoration:underline; */ 
  color : #0066cc; }
.sidebar_section a:visited { 
  /*text-decoration:underline;*/
  color : #0066cc; }
.sidebar_section a:hover { color : #eeb211; } /*text-decoration:underline; }*/
.sidebar_section a:focus { color : #eeb211; } /*text-decoration:underline; }*/
.sidebar_section a:active { color : #0066cc; }

.availability {
	margin: 10px 0px 10px 30px;
}


/* main column 'availability' section */
.main_column_section {
  padding: 2px 4px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.availability li {
	/*background: url(../images/famfamfam/page_text.gif) no-repeat 15px 15px;*/
	/*padding: 2px 0px 8px 10px;*/
  padding: 2px;  
}
.availability a:link{
	/*text-decoration:underline;*/
	color:#0066cc;
	font-weight: bold;
}
.availability a:visited { 
  /*text-decoration:underline;*/
  color : #0066cc; font-weight: bold;
}
.availability a:hover { 
  color : #eeb211; 
  /*text-decoration:underline;*/
  font-weight: bold;
}
.availability a:focus { 
  color : #eeb211; 
  /* text-decoration:underline; */
  font-weight: bold;
}
.availability a:active { color : #0066cc; font-weight: bold;}

ul.fulltextlink {
  margin-left: 4px;
  margin-top: 4px;
}
ul.fulltextlink li.fulltextlink {
  background: url(../images/famfamfam/page_text.gif) no-repeat 0px 0px;
  padding: 0px 18px 8px 22px;
}

ul.fulltextlink li.audiolink {
  background: url(../images/famfamfam/page_sound.gif) no-repeat 0px 0px;
  padding: 0px 18px 8px 22px;
}

#banner_fulltext li.fulltextlink {
  padding-bottom: 4px;
}

#banner_fulltext li.frameescaping {
    background: url(../images/famfamfam/page_up.gif) no-repeat 0px 0px;
  /* Special icon override */
}

.response_coverage_statement {
  margin-bottom: 4px;
  margin-top: 2px;
}

ul.smallText li.fulltextlink {
  padding-top: 2px;
}

.small_indent {
  margin-left: 10px;
}

.section_content_indent {
  margin-left: 30px;
}


.closestResults {
	font-size: 11px;
	margin: 5px 0px;
}
.closestResults li {
	list-style-type: disc;
	padding-top: 10px;
}
.closestResults a:link{ text-decoration:underline; color:#666; }
.closestResults a:visited { text-decoration:underline; color : #666; }
.closestResults a:hover { color : #eeb211; text-decoration:underline;}
.closestResults a:focus { color : #eeb211; text-decoration:underline;}
.closestResults a:active { color : #666; }

.largeText { font-size:12px;}
.largeTextb { font-size:12px; font-weight:bold;}
.exlargeText {
	font-size:14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.smallText { font-size:10px;}
.smallTextb { font-size:10px; font-weight:bold;}
.smallTextlink { font-size:10px; color:#0066CC} 

/*  Footer */

#footer {
	clear: both;
}
	

/* tiny menu in banner */

/*#top_frame {
  height: 70px;
}*/
body.banner {
  height: 400px;
  background-color: #E6D19A;
}
.banner_menu {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 0;
  right: 0;
  width: 100%;
  _height: 88%; /* IE6 only */
  font-size: 10px;
}

.banner_menu_inner_container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.banner_section {
  float: left; 
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%; 
  font-size:10px;
  margin-left: 6px;
  padding-left: 4px;
  padding-right: 2px;
}


.banner_menu h3 {
  font-size:10px; 
  font-weight:bold;
  margin-bottom: 2px;
  margin-top: 1px;
}

.banner_section li {
  padding-bottom: 3px;
}

.banner_section #helpicon {
  font-size: 18px;
}

#banner_controls {
  width: 140px;
}

#banner_citation {
  width: 200px;
  overflow-y: auto; 
  border: 1px solid #e9e9e9;
  background-color: white;
  margin-left: 22px;
}

#banner_fulltext {
  width: 260px; 
  overflow-y: auto;   
	border: 1px solid #e9e9e9;
  background-color: white;
}

#banner_help {
  width: 130px;
}

.smGrayBox {
	border:1px solid #e9e9e9;
	margin: 5px;
	padding: 5px;
/*	width: 155px;*/

}
.tightbullets {
	/* background: url(../images/bullet_basic.gif) no-repeat 0px 6px; */
  margin-left:5px;
	padding-left: 10px;
	padding-bottom: 5px;
	line-height:13px;
}
ul.news {
	margin: 5px 5px 10px 0px;
}
	
ul.news li {
	/* background: url(/images/icon-goldarrow.gif) no-repeat 5px 4px; */
	padding: 0px 0px 10px 20px;
	line-height: 13px; }
	
ul.news li a { font-weight: bold; color : #0066CC; }
ul.news li a:hover { color : #eeb211; }
ul.news li a:focus { color : #eeb211; }

ul.bullets li {
	/* background: url(../images/bullet_basic.gif) no-repeat 0px 6px; */
	padding-left: 10px;
	padding-bottom: 5px;
	margin-left:5px;
	font-size: 11px;
}
ol.numberedList {
	padding: 0px 5px 0px 15px;
	font-size: 11px;
}
ol.numberedList li {
	padding-bottom:10px; 
}
ol.numberedList a {
	color: #0066CC; 
}
ol.numberedListlg {
	padding: 0px 5px 0px 35px;
	font-size: 12px;
}
ol.numberedListlg li {
	padding-bottom:10px; 
}
ol.numberedListlg a {
	color: #0066CC; 
}

.journalList {
	line-height:18px;
}
.journalList a {color: #0066CC; }
	
/* A-Z NAVIGATION */
.azNav {
	text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
	}
.azNav a {
  font-size: .8em;
  font-weight: bold;
  padding:.15em .3em .15em .3em;
	border: 1px solid #bbb;
	text-decoration: none;
	color : #0066CC;
  line-height: 1.7em;
	}
.azNav a:hover {
	background-color: #eee;
	}
