<%# local implementers may over-ride this partial for custom local header. 
    This partial is called by default umlaut layout.  %>

<div id="footer" class="footer">
  <%= render_service_credits %>
  <!-- links to aid in debugging openurls gone wrong when in production -->
  <%= link_to_test_resolve %>
  <%= link_to_direct_sfx %>
  <%= link_to_toggle_debug_info %> 
</div>
