<body>


<% if @user_request %>
<!-- unapi is not currently working

<div id="unapi-container">
<abbr class="unapi-id" title="<%= CGI.escape(@user_request.referent.to_context_object.kev) %>"></abbr>
</div> -->
<% end %>
