<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<html lang="EN">
<head>
<title>Find it! | <%= @page_title %></title>
<link rel="stylesheet" type="text/css" media="screen" href="http://www.library.gatech.edu/css/umlaut.css">

<%= render(:partial => "layout_helpers/resolve_head_content" ) %>

<link href="http://www.library.gatech.edu/css/print_style.css" rel="stylesheet" media="print" type="text/css">
<link rel="unapi-server" type="application/xml" title="unAPI" href="/unapi">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>

<%= render(:partial => "layout_helpers/resolve_body_open" ) %>


<div id="presentationContainer">
  <!-- Top Yellow Area -->
  <div id="utilityContainer">&nbsp;

      <!--close utilityContainer-->
  </div>
  <!-- GT Logo Area -->
  <div id="identitycontainer1"><img src="http://www.library.gatech.edu/images/GTLiblogo.gif" alt=" " width="300" height="76">
      <!--close identitycontainer1-->
  </div>
  <div id="identityContainer"><a href="http://www.gatech.edu"><img src="http://www.library.gatech.edu/images/logo-gatech.gif" alt="Link to Georgia Tech home page" width="179" height="77" border="0"></a><a href="http://www.library.gatech.edu"><img src="http://www.library.gatech.edu/images/header-library.gif" alt="Link to Library home page" width="581" height="77" border="0"></a>
      <!--close identityContainer-->
  </div>
<!-- Middle section hold rotating photos -->
  <div id="splashContainer"><img src="http://www.library.gatech.edu/images/pic_bannersm.jpg" alt="pictures of the GT Library"><!--Closing splashContainer--></div>
  <div id="breadCrumbing2">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="67%"><a href="http://www.library.gatech.edu">Home</a> &gt;&gt; <a href="http://www.library.gatech.edu/search_locate/">Search
        &amp; Locate</a> &gt;&gt; <%= link_to 'Journals', :controller=>'search', :action=>'journals'%> &gt;&gt;
        <span id="breadCrumbing2Active">Find It!</span></td>

    <td width="33%"><div align="right">URL: 
    <% 
  shortcut = request.host
  shortcut += url_for :controller=>"store", :id=>@user_request.referent.permalinks[0].id
  %>
  <%= link_to shortcut, :controller=>"store", :id=>@user_request.referent.permalinks[0].id
  %></div></td>
  </tr>
</table>

  <!--close breadcrumbing1--></div>
  <div id="contentContainer2">

  <%= @content_for_layout %>
 
  <!--close contentContainer2-->
  </div>
		 <div id="footer">
               <p><a href="http://www.library.gatech.edu/">LIBRARY AND
                   INFORMATION CENTER  </a><br>
                 &copy;2006 Georgia Institute of Technology :: Atlanta,

                  Georgia 30332
               </p>
  <!--close footer-->
  </div>
  <!--close presentationContainer-->
</div>
</body>
</html>

