---
http_interactions:
- request:
    method: get
    uri: http://recommender.service.exlibrisgroup.com/service/recommender/openurl?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2013-10-09T14:28:02-04:00&ctx_ver=Z39.88-2004&res_dat=format=rss%26source=global%26token=BX_TOKEN%26maxRecords=5%26threshold=50%26baseUrl=/resolve&rft.atitle=A%20blend%20of%20different%20tastes:%20the%20language%20of%20coffeemakers&rft.genre=article&rft.issn=0265-8135&rft.volume=25&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<rss xmlns:bx=\"http://bx.exlibrisgroup.com/docs/schema/bx\"
        version=\"2.0\">\r\n  <channel>\r\n    <title>A blend of different tastes:
        The language of coffeemakers. Environment and planning. B, Planning &amp;
        design</title>\r\n    <link>/resolve?ctx_ver=Z39.88-2004&amp;rft_val_fmt=info:ofi/fmt:kev:mtx:article&amp;rft.atitle=A%20blend%20of%20different%20tastes:%20The%20language%20of%20coffeemakers.&amp;rft.aufirst=M.&amp;rft.auinit=M&amp;rft.auinit1=M&amp;rft.aulast=Agarwal&amp;rft.au=Agarwal,%20M.&amp;rft.eissn=1472-3417&amp;rft.epage=226&amp;rft.genre=article&amp;rft.issn=0265-8135&amp;rft.issue=2&amp;rft.jtitle=Environment%20and%20planning.%20B,%20Planning%20&amp;%20design&amp;rft.date=1998&amp;rft.spage=205&amp;rft.volume=25&amp;rfr_id=info:sid/www.exlibrisgroup.com:bx-target&amp;rft.object_id=urn:sfxid:954925499107&amp;rft_dat=bxResourceId%3D17428593%26bxSetId%3D1113810068%26bxSeedId%3D17428593</link>\r\n
        \   <description />\r\n    <copyright>Copyright 2008-2009 Ex Libris Group</copyright>\r\n
        \   <pubDate>Wed, 09 Oct 2013 17:39:52 GMT</pubDate>\r\n    <item>\r\n      <title>Managing
        New Product Definition in Highly Dynamic Environments. Management science</title>\r\n
        \     <link>/resolve?ctx_ver=Z39.88-2004&amp;rft_val_fmt=info:ofi/fmt:kev:mtx:article&amp;rft.atitle=Managing%20New%20Product%20Definition%20in%20Highly%20Dynamic%20Environments&amp;rft.aufirst=Shantunu&amp;rft.auinit=S&amp;rft.auinit1=S&amp;rft.aulast=Bhattacharya&amp;rft.au=Bhattacharya,%20Shantunu&amp;rft.doi=10.2307/779711&amp;rft.eissn=1526-5501&amp;rft.genre=article&amp;rft.issn=0025-1909&amp;rft.issue=11&amp;rft.jtitle=Management%20science&amp;rft.pages=S50-S64&amp;rft.date=1998&amp;rft.spage=50&amp;rft.volume=44&amp;rfr_id=info:sid/www.exlibrisgroup.com:bx-target&amp;rft.object_id=urn:sfxid:954921352320&amp;rft_dat=bxResourceId%3D3438475%26bxSetId%3D1113810068%26bxSeedId%3D17428593</link>\r\n
        \     <pubDate>Mon, 19 Sep 2011 08:17:15 GMT</pubDate>\r\n      <author>Bhattacharya,
        Shantunu</author>\r\n      <guid isPermaLink=\"false\">urn:bx:3438475</guid>\r\n
        \     <bx:score>96</bx:score>\r\n    </item>\r\n    <item>\r\n      <title>Product
        Development Decisions: A Review of the Literature. Management science</title>\r\n
        \     <link>/resolve?ctx_ver=Z39.88-2004&amp;rft_val_fmt=info:ofi/fmt:kev:mtx:article&amp;rft.atitle=Product%20Development%20Decisions:%20A%20Review%20of%20the%20Literature&amp;rft.aufirst=V&amp;rft.auinit=V&amp;rft.auinit1=V&amp;rft.aulast=Krishnan&amp;rft.au=Krishnan,%20V&amp;rft.doi=10.1287/mnsc.47.1.1.10668&amp;rft.eissn=1526-550[...]
