 <h4><%= ServiceTypeValue['abstract'].display_name %> </h4>
        <ul>
        <% get_service_type('abstract').each do |ab| %>
          <%= render(:partial => "fulltext_element", :object=> ab) %>
          <% data = ab.view_data
             unless data[:content].blank? %>
               <%= data[:content] %>
             <% end %>
        <% end %>
        </ul>
