<% doc_dels =  get_service_type("document_delivery") 
%>

<div>
  <ul class="document_delivery">
  <% doc_dels.each do | doc_del_type |

      valueHash = doc_del_type.view_data_from_service_type   %>
      
      <li><%= link_to 'for ' + valueHash[:display_text], {:controller=>'link_router', :id=>doc_del_type.id}, 'target'=>'_blank'%>
      </li>

  <% end %>
  </ul>
</div>
