<%# Try to warn if this could be a typo. If we have an rft.object_id, then
  # SFX recognized it as an actually existing journal. If not, then it
  # might be a typo. If it came from a manually entered citation, warn them.
%>

<% if display_not_found_warning?(user_request) %>
    <div class="alert alert-danger">
        <i class="umlaut_icons-famfamfam-error"/>
        <%= t("umlaut.resolve.not_found_warning", :app_name => umlaut_config.app_name, :resource_type => user_request.referent.container_type_of_thing.downcase) %>
    </div>
<% end %>