<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="ajax-loader" style="display:none"><%=t(:loading).titlecase%></h3>
    <h3 class="content"></h3>
  </div>
  <div class="modal-body">
    <div class="ajax-loader" style="display:none">
      <div class="progress progress-striped active">
        <div class="bar" style="width: 95%;"></div>
      </div>
    </div>
    <div class="content"></div>
  </div>
  <div class="modal-footer">
    <span class="content"></span>
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%=t(:close).titlecase%></button>
  </div>
</div>
