<%# requires local :presenter with a SectionRenderer 
    optional local :force_render=> true to ignore presentation logic. legacy. %>
<% if presenter.show_heading? || local_assigns[:force_render] == true %>
  <div class="section_heading">
    <% if presenter.section_title %>
      <h3><%= t(presenter.section_title) %></h3>
      <% if presenter.section_prompt %>
        <p class="section_prompt">
          <%= presenter.section_prompt %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end  %>
