 <h4><%= ServiceTypeValue['table_of_contents'].display_name %></h4>
        <ul>
        <% get_service_type('table_of_contents').each do |st| %>    
          <%= render(:partial => "fulltext_element", :object=> st) %>
          <% data = st.view_data
             unless data[:content].blank? %>
               <%= data[:content] %>
             <% end %>
        <% end %>
        </ul>
