<% if @dispatch_response.external_links.keys.length > 1 %> 
<div class="seeAlso">
<div class="smGrayBox">
<strong>Search Engines:</strong>
<%
@dispatch_response.external_links.each_key { |el|
%>      
<p class='tightbullets'><a href="#<%= el.to_s %>"><%= el.to_s.capitalize %></a> (<%= @dispatch_response.external_links[el].length %>)</p>
<% } %>
</div></div>
<%
end
%>