<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<% context_object = @user_request.referent.to_context_object -%>
<html>
<html lang="EN">
<head>
<title><%= AppConfig.param('app_name', 'Find It') %> | <%= @user_request.referent.to_citation[:title] %></title>
 <%= stylesheet_link_tag 'basic'
 %> 
 <% render(:partial => 'shared/ensure_window_size') %>
 <%= render(:partial => "layout_helpers/resolve_head_content" ) %>

</head>

<body class="banner" id="banner_body">
<div id="banner_menu" class="banner_menu">
  <div class="banner_menu_inner_container">
  
  
  <div id="banner_controls" class="banner_section">
    <%= resolver_link(nil, :target=>"_top", :params=>@user_request.original_co_params(:add_request_id => true).merge(:action => 'index', :'umlaut.skip_resolve_menu' => 'false')) %><br/>
    <span style="font-weight: bold; font-size: 15px;"><%= resolver_link(nil, :text => 'See more options', :target=>"_top", :params=>@user_request.original_co_params(:add_request_id => true).merge(:action => 'index', :'umlaut.skip_resolve_menu' => 'false')) %></span><br/>
    
    <%= link_to "#{ image_tag("frame_remove.gif", :border=>0, :align=>'bottom') } Remove banner", {:controller=>'link_router', :id=>(@service_type_join.id if @service_type_join)}, 'target'=>'_top', 'class'=>'smallText' %><br/>
    
    <% displayed_data = @service_type_join.view_data %>
    <% unless displayed_data[:authentication].blank? %>
          <strong>Authentication:</strong> <%= displayed_data[:authentication] %>
    <% end %>
      

   
  </div>




  
  <% fulltxt = get_service_type('fulltext')
     title_level_fulltxt = get_service_type('fulltext_title_level')
     unless fulltxt.blank? && title_level_fulltxt.blank?
  %>
  <div id="banner_fulltext" class="banner_section" >
    <% if fulltxt.length + title_level_fulltxt.length > 1 %>
      <h3>Other <%= ServiceTypeValue[:fulltext].display_name_pluralize.downcase%>:</h3>
    <% end %>
    <ul class="smallText fulltextlink">
    <%        
      fulltxt.each do | ft | 
      target = ft.view_data
    %>
        <li class="fulltextlink <%= 'frameescaping' if known_frame_escaper?(ft) %>"> 
        <%  # Currently displayed one should not be a link, but should
            # be greyed-out instead.
            if ( ft == @service_type_join ) %>
            <a class="grayedOut"><%= target[:display_text] %></a>
        <% else %>
          <%= frameset_link_to(ft, :'umlaut.banner_effects'=>'false') %>        
        <% end %>
        </li>
    <% end
       unless title_level_request? || title_level_fulltxt.empty?
          genre = @user_request.referent.metadata['genre']
          genre = "Journal" if genre.downcase == 'article'
    %>
      </ul>
      <h3><%= genre.titlecase %>-level Page Only:</h3>
      <ul class="smallText fulltextlink">
    <% 
       end
       title_level_fulltxt.each do |ft| 
       target = ft.view_data %>
        <li class="fulltextlink <%= 'frameescaping' if known_frame_escaper?(ft) %>"> 
        <%  # Currently displayed one should not be a link, but should
            # be greyed-out instead.
            if ( ft == @service_type_join ) %>
            <a class="grayedOut"><%= target[:display_text] %></a>
        <% else %>
          <%= frameset_link_to(ft) %>        
        <% end %>
        </li>
    <% end %>
    <ul>
  </div>
  <% end %>
  
   
    <div id="banner_citation" class="banner_section">
      <h3>You are looking for:</h3>
      <%= render :partial=>'compact_citation' %>
    </div>
  
 <% help_responses = get_service_type('help') 
    unless help_responses.blank?  %>
    
    <div id="banner_help" class="banner_section">
    <span id="helpicon">?</span><span class="smallText">Problem?<br>Need help?
      <ul>
      <% help_responses.each do |help| %>
           <li><%= link_to help.view_data[:display_text], {:controller=>'link_router', :id=>help.id}, 'target'=>"_blank" %></li>
       <% end %>
       </ul>
    </span>
   </div>
 <% end %>

   
   
</div>
</div>

  <script>
    <%= visual_effect(:highlight, 'banner_body', :startcolor=>"'#CC3333'", :endcolor=>"'#E6D19A'", :queue=>'start') %>
    <%= visual_effect(:highlight, 'banner_body', :startcolor=>"'#CC3333'", :endcolor=>"'#E6D19A'", :queue=>'end') %>
  </script>
</body>
</html>
