<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><title><%= AppConfig.param('app_name', 'Find It') %> | <%= @user_request.referent.to_citation[:title] %></title>
 <%= stylesheet_link_tag 'basic'
 %> 
 
</head>


<frameset rows="92,*">
  <frame id ="top_frame" src="<%= url_for(  @user_request.original_co_params.merge( {:action => 'banner_menu' , :'umlaut.request_id' => @user_request.id, :'umlaut.id' => (@service_type_join.id if @service_type_join)}) )%>" scrolling=no marginwidth=0 marginheight=0>
  
  
  
  <frame name="link_content" src="<%= direct_url_for( @service_type_join )  %>">


  <noframes>Your browser does not support frames. Would you like to:
   <ul>
     <li> <%= link_to("View FindIt menu for this resource", {:action => 'index', :'umlaut.request_id' => @user_request.id}) %> </li>
     <li> <%= link_to("Go directly to full text from #{@service_type_join.view_data[:display_text]}", direct_url_for( @service_type_join )</li>
   </ul>
   </noframes>
     



</frameset></html>
