
<% @current_context_object = @context_object %>
<h1>Table of Contents</h1>
<%= 
render :partial=>'resolve/citation' 
%>      
<ul>
<%
get_service_type('table_of_contents').each do |st| 
   #view_data = st.view_data

%>
<%=   render :partial => "fulltext_element", :object=> st %>
<%   
end
%>
</ul>
</div>
  <%= #render :partial=>"resolve/right_column"
  %>