// Az links based on bootstrap pagination, but tweaked, among other
// things to wrap better. a-z links are ridiculous, but expected by
// our users. 
.umlaut-az {
  @include clearfix;
  a, span {
    float: left;
    margin-bottom: $line-height-computed / 4;
    margin-right: $line-height-computed / 4;
    border-radius: 4px;
    padding: 4px 8px;
    border: 1px solid $umlautAzBorderColor;
    line-height: $line-height-base;
    text-decoration: none;
    color: $umlautAzLinkColor;
    background-color: $pagination-bg;
    &:hover {
      background-color: $pagination-hover-bg;
    }

    &.active {
      background-color: transparent;
      color: inherit;
      &:hover {
      background-color: transparent;;
      }
    }
  }
}
