body {
  padding-left: 20px; 
}

header {
  @include umlaut-container-padding;
  border: {
    bottom: 1px solid $umlautBorderColor;
  }
}

footer {
  @include umlaut-container-padding;
  padding: {
    top: 10px;
    bottom: 10px;
  }
  border: {
    top: 1px solid $umlautBorderColor;
  }
}

h1 {
  font: {
    weight: bold;
    size: $baseFontSize * 2;
  }
  line-height: $baseLineHeight * 3;
}

h2 {
  @extend h1;
  line-height: $baseLineHeight * 2;
}

h3 {
  @extend h1;
  font: {
    size: $baseFontSize * 1.5;
  }
  line-height: $baseLineHeight * 1.5;
}

legend {
  font: {
    weight: bold;
  }
}

label {
  margin: {
    left: 10px;
    top: 10px;
    bottom: 10px;
  }
}

select {
  height: auto; /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px; /* For IE7, add top margin to align select with labels */
  line-height: auto;
}

@media (max-width: 480px) {
  label {
    margin: {
      left: 0px;
    }
  }
}