body {
  padding: {
    left: 20px;
    right: 20px;
  }
}

header {
  @include umlaut-container-padding;
  border: {
    bottom: 1px solid $umlautBorderColor;
  }
}

footer {
  @include umlaut-container-padding;
  margin: {
    top: $baseLineHeight;
  }
  padding: {
    top: 10px;
    bottom: 10px;
  }
  border: {
    top: 1px solid $umlautBorderColor;
  }
}


@media (max-width: 767px) {
  .umlaut-main-container-fluid {
    @include umlaut-container-padding;
  }

  body {
    padding-left: 0;
    padding-right: 0;
  }
}