body {
  padding: {
    left: 20px;
    right: 20px;
  }
}

header {
  @include umlaut-container-padding;
  border: {
    bottom: 1px solid $umlautBorderColor;
  }
  h1 {
    //semantically an h1, but let's make it not so big, inspired
    //by twitter's navbar styles, copied
    display: block;
  
    margin: 0;
    padding: 0;    
    font-size: 20px;
    font-weight: 200;
    color: $navbarBrandColor;
  }
}

.umlaut-nav {
  border-bottom: 1px solid $umlautNavBorderColor;
  background-color: $umlautNavBackgroundColor;
  padding: .5em;
  text-align: right;
}


footer {
  @include umlaut-container-padding;
  margin: {
    top: $baseLineHeight;
  }
  padding: {
    top: 10px;
    bottom: 10px;
  }
  border: {
    top: 1px solid $umlautBorderColor;
  }
}

.collapsible .collapse {
  margin-top:  $baseLineHeight / 2; 
}

@media (max-width: 767px) {
  .umlaut-main-container-fluid {
    @include umlaut-container-padding;
  }

  body {
    padding-left: 0;
    padding-right: 0;
  }
}