body {
  padding: {
    left: 20px;
    right: 20px;
  }
}

header {
  @include umlaut-container-padding;
  border: {
    bottom: 1px solid $umlautBorderColor;
  }
}

footer {
  @include umlaut-container-padding;
  margin: {
    top: $baseLineHeight;
  }
  padding: {
    top: 10px;
    bottom: 10px;
  }
  border: {
    top: 1px solid $umlautBorderColor;
  }
}

h1, h2, h3 {
  font: {
    size: $baseFontSize * 1.25;
  }
  line-height: $baseLineHeight * 1.25;
}

legend {
  font: {
    size: $baseFontSize * 1.25;
  }
}

select {
  height: auto; /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px; /* For IE7, add top margin to align select with labels */
  line-height: auto;
}

@media (max-width: 767px) {
  .umlaut-main-container-fluid {
    @include umlaut-container-padding;
  }
  
  body {
    padding: {
      left: 0;
      right: 0;
    }
  }
}

