[class^="umlaut_icons-"],
[class*=" umlaut_icons-"] {
  @include umlaut_icons;
}

.umlaut_icons-famfamfam-book-open {
  background-position: 0 -80px;
}

.umlaut_icons-famfamfam-cross {
  background-position: 0 -64px;
}

.umlaut_icons-famfamfam-error {
  background-position: 0 -48px;
}

.umlaut_icons-famfamfam-help {
  background-position: 0 0;
}

.umlaut_icons-famfamfam-information {
  background-position: 0 -16px;
}

.umlaut_icons-famfamfam-page-sound {
  background-position: 0 -32px;
}

.umlaut_icons-famfamfam-page-text {
  background-position: 0 -112px;
}

.umlaut_icons-famfamfam-page-up {
  background-position: 0 -96px;
}

.umlaut_icons-famfamfam-page-white {
  background-position: 0 -136px;
}

.umlaut_icons-famfamfam-tiny-cross {
  background-position: 0 -128px;
}

.umlaut_icons-list-closed {
  background-position: 0 -168px;
}

.umlaut_icons-list-open {
  background-position: 0 -152px;
}
