.umlaut-separator {
  border-top: 1px solid $umlautBorderColor;
  padding-top: 15px;
}

.text-small {
  font: {
    size: $fontSizeSmall
  }
}

.alert {
  font-size: 125%;
  li {
    margin-top: 1em;
  }
}

.collapsible .collapse {
  margin-top:  $baseLineHeight / 2; 
}

/* Google Scholar Link: 
   Make the example look like it does on google scholar: */
.gscholar_example {   
   color: blue;
   font-variant: small-caps;
}

// even smaller than bootstrap's input-mini, for volume/issue/start page
.input-tiny      { width: 45px; }

.umlaut-permalink {
  text-align: right;
  margin-left: $umlautIndent;
}

.umlaut-permalink-container {
    color: $grayDark;
    @include text-overflow;
}
.umlaut-permalink-content {  
  background-color: $umlautBackgroundColor;
  border-radius: $borderRadiusSmall;
  border: 1px solid $btnBorder;
  padding: 3px 6px;  
  .spinner {
    vertical-align: baseline;
  }
}

.umlaut-load-permalink i {
  @include umlaut_icons;
  @extend .umlaut_icons-famfamfam-link;
  margin-top: 2px;
}

// Used to conveniently add a mini spinner to page with
// JS, usually by adding an <i class='spinner'></i>
.spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  @include ie7-restore-right-whitespace();
  line-height: 16px;
  vertical-align: top;
  margin-top: 1px;  
  background-image: image-url("spinner.gif");
}
