.umlaut-separator {
  border-top: 1px solid $umlautBorderColor;
  padding: {
    top: 15px;
  }
}

.text-small {
  font: {
    size: $smallFontSize
  }
}

.text-large {
  font: {
    size: $largeFontSize
  }
}

.alert {
  font: {
    size: 125%;
  }
  li {
    margin: {
      top: 1em;
    }
  }
}

[class^="icons-"],
[class*=" icons-"] {
  @include icons;
}
