.umlaut-separator {
  border-top: 1px solid $umlautBorderColor;
  padding-top: 15px;
}

.text-small {
  font: {
    size: $font-size-small
  }
}

.alert {
  font-size: 125%;
  li {
    margin-top: 1em;
  }
}

.collapsible {
  // Difficult to get space between the toggle and the expanded
  // content, that's only there when content is expanded, without
  // causing a jump on expand/contract. 
  // We give up and provide the space even when collapsed. 
  .collapse-toggle {
    display: block;
    margin-bottom:  $line-height-computed / 2; 
  }
}

/* Google Scholar Link: 
   Make the example look like it does on google scholar: */
.gscholar_example {   
   color: blue;
   font-variant: small-caps;
}

.umlaut-permalink {
  text-align: right;
  margin-left: $umlautIndent;
}

.umlaut-permalink-container {
    color: $gray-dark;
    @include text-overflow;
}
.umlaut-permalink-content {  
  background-color: $umlautBackgroundColor;
  border-radius: $border-radius-small;
  border: 1px solid $btn-default-border;
  padding: 3px 6px;  
  .spinner {
    vertical-align: baseline;
  }
}

.umlaut-load-permalink i {
  @include umlaut_icons;
  @extend .umlaut_icons-famfamfam-link;
  margin-top: 2px;
}

.umlaut-locale-selector {
  float: right;
  a {
    padding: 20px;
  }
}

// Used to conveniently add a mini spinner to page with
// JS, usually by adding an <i class='spinner'></i>
.spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: top;
  margin-top: 1px;  
  background-image: image-url("spinner.gif");
}
