@mixin umlaut-container-padding {
  padding: {
    left: 20px;
    right: 20px;
  }
}

@mixin icons {
  display: inline-block;
  width: 16px;
  height: 16px;
  @include ie7-restore-right-whitespace();
  line-height: 16px;
  vertical-align: middle;
  margin-top: 1px;
}

@mixin iconed-response {
  .response_item  {
    padding: 0px 18px 8px 22px;
    a {
      font-weight: bold;
    }
    i {
      @include icons;
      margin-left: -18px;
      // @extend .pull-left;
    }
  }
  .expand_contract_toggle {
    margin-left: 8px; 
  }
}
