// Ajax (and non) popup modal window */
.ajax_modal_dialog {
  border: 1px solid #999999;
  background-color: white;
  position:absolute;
  left: 25%;
  top: 20%;
  z-index: 1000;  
  font-size: 12px;

  .inner_modal_dialog {    
    background-color: #FCF1D4;
    margin: 1px;
    padding: 1em;
  }

  .modal_dialog_form {
    width:395px;
  }

  h2, h3 {
    font-weight: normal;
    font-size: 1em;
  }
}

.ajax_modal_bg_overlay {
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 99.9%;
  height: 99.9%;
  z-index: 999;
  opacity: 0.6;
  -moz-opacity: 0.6;  
  filter: alpha(opacity=60); 
}

.inner_modal_dialog {
  .section {
    padding: {
      top: 0.8em;
      bottom: 0.8em;
    }
  }

  ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 0.33em;
  }

  .collection {
    font-weight: bold; 
  }

  .status {
    font-style: italic;
  }
}

.no_js {
  .inner_modal_dialog {
    margin: 2em;
    .cancel {
       display: none;
    }
  }
}

