.umlaut-resolve-container {
  padding-left: 0;
  padding-right: 0;
}

.umlaut-resolve-nav {
  border-bottom: 1px solid $umlautResolveNavBorderColor;
  background-color: $umlautResolveNavBackgroundColor;
  padding: .5em;
  text-align: right;
}

.umlaut-main, .umlaut-sidebar {
  ul {
    margin-left: 0;
    list-style: none;
  }
}

// Main section styles
.umlaut-main {
  @include umlaut-container-padding;
  background-color: $umlautMainBackgroundColor;
}

.response_list {
  .response_item  {
    margin-bottom: ($baseLineHeight / 2);
    // Try to make line wrap respect space for icon/indent. 
    padding-left: $umlautIndent;
    text-indent: -$umlautIndent;
  }
}

.umlaut-section {
  margin: $baseLineHeight 0 ($baseLineHeight * 2) 0;  
  .section_heading h3 {
    /* semantically an h3, but make it sized an h4 */
    @extend h4;
    margin-top: 0;
  }



  // Special looks for particular sections
  &.fulltext {
    @include iconed-response;
    .response_item i {
      @extend .umlaut_icons-famfamfam-page-text;
    }
  }

  &.audio {
    @include iconed-response;
    .response_item i {
      @extend .umlaut_icons-famfamfam-page-sound;
    }
  }

  &.excerpts {
    @include iconed-response;
    .response_item i {
      @extend .umlaut_icons-famfamfam-book-open;
    }
  }

  &.coins {
    border: none;
  }

  &.document_delivery {
    @include iconed-response;
    .response_item i {
      @extend .umlaut_icons-famfamfam-book-go;
    }
  }

  &.holding {
    .umlaut-holdings {
      padding-left: $umlautIndent;
      border-top: 1px solid $umlautHoldingBorderColor;
      .umlaut-holding {
        padding: {
          top: .75em;
          bottom: 0px;
          left: .25em;
          right: .25em;
        }
        &:first-child {
          border-top: none;
        }
        &:nth-child(odd) {
          background-color: $umlautHoldingHighlightBackgroundColor;
        }
        a.btn {
          display:block;
          margin-bottom: .25em;
        }
      }
    }
  }

  &.search_inside {
    input[type="submit"].btn {
      vertical-align: top;
    }
  }
}

.umlaut-section-highlighted {
  @include umlaut-well($umlautHighlightedSectionBackgroundColor, $umlautHighlightedSectionBorderColor);
}

.section_prompt {
  @extend .muted;
}

// extra block-level elements inside a response_item
// need to turn off the text-indent that inherits, don't actually
// need any indent. 
%indented-subitem {
  text-indent: 0;
  margin: ($baseLineHeight / 6) 0;
}

.umlaut-content-indent {
  @extend %indented-subitem;
}

.response_edition_warning, .response_source, .response_coverage_statement {
  @extend %indented-subitem;
  @extend .muted;
}

.response_notes {
  @extend %indented-subitem;
}

.debug_info {
  @extend %indented-subitem;
  @include umlaut-well($umlautDebugInfoBackgroundColor, $umlautDebugInfoBorderColor);
}

.umlaut-sidebar {
  border: {
    left: 1px solid $umlautSidebarBorderColor;
    bottom: 1px solid $umlautSidebarBorderColor;
  }
  background-color: $umlautSidebarBackgroundColor;

  padding: 0 20px;

  .help-text-icon {
    display: inline-block;
    height: 100%;

    font-size: $baseLineHeight * 1.85;
    font-weight: bold;
    float: left;
    margin-right: 12px;
    padding: $baseLineHeight * 0.5;
    

    background-color: $umlautHighlightedSectionBackgroundColor;
    border: 1px solid $umlautHighlightedSectionBorderColor;    

    @include border-radius($baseLineHeight * 2)
  }
  .umlaut-help-list {
    text-align: right;
  }
}

.umlaut-resource-info {
  display: table;
  width: 100%;
  @include clearfix(); 
  padding: $umlautIndent 0;


  .resource_info_sections, .umlaut-section.cover_image {
    display:        table-cell;
    vertical-align: top;
    margin: $baseLineHeight;
  }


  .umlaut-section.cover_image {
    padding-left: $umlautIndent * 2;
    /* IE7 and below, hide cover image entirely, since
     we dont' have display:table to do it right. Use IE7 asterisk trick */
    *display: none;
  }

  .umlaut-section.cover_image .umlaut_section_content {
    text-align: right;
    img.cover_image {
      border: 1px solid $umlautHighlightedSectionBorderColor;

      /* override to make cover smaller on smaller screens, 50% of
      original in-style maxes.  */
      @media (max-width: 900px) {
        max-width:  100px !important;
        max-height: 80px !important;
      }
    }
  }

  /* citation render styles */



  .resource-type {
    @extend .muted;
    margin: 0;
    font-weight: bold;
  }
  h2.title {  
    margin-top: 0;
    @extend h3;
    line-height: $baseLineHeight * 1.8;
  }
  .author-and-date {
    font-size: $baseFontSize * 1.25;
  }
  .published-label {
    @extend .muted;
  }
  .container-title {
    font-style: italic;
  }

  dl.citation-info {
    /* based on dl-horizontal, but tweaked.  */
    @include clearfix();   
    margin-top: 10px;
    margin-bottom: 10px;     
    dt {      
      float: left;
      clear: left;
      font-weight: normal;
      @extend .muted;        
      @include text-overflow();        
      width: ($umlautIndent * 10) - 20;
      @media (max-width: 767px) {
        float: none;
        clear: none;
        width: auto;
        text-align: left;
      }
    }
    dd {
      margin-left: ($umlautIndent * 10);
      @media (max-width: 767px) {
        margin-left: 0;
      }
    }
  }

}

.umlaut-available {
  color: $umlautAvailableColor;
  font-style: italic;
  font-size: $baseFontSize;
}

.umlaut-unavailable {
  color: $umlautUnavailableColor;
  font-style: italic;
  font-size: $baseFontSize;
}

// Resolve Errors
#service_errors_content {
  @include umlaut-well($umlautResolveErrorBackgroundColor, $umlautResolveErrorBorderColor);
}

a:not(:hover) .coverage_summary {
  /* even though it's part of a hyperlink, we make it black for distinction */
  color: black; 
}

@media (max-width: 767px) {
  .umlaut-sidebar {
    @include umlaut-container-padding;
    background-color: $umlautMainBackgroundColor;
    border: none;
    padding-top: 10px;

    .umlaut-section {
      margin-left: 0;
      padding-left: 0;

      &.holding {
        .umlaut-holdings {
          padding-left: 0px;
        }
      }
    }

    .umlaut-help-list {
      text-align: left;
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .umlaut-section {
    &.holding {
      .umlaut-holdings {
        .umlaut-holding {
          a.btn {
            padding-left: 3px;
            padding-right: 3px;
          }
        }
      }
    }
  }
}
