.umlaut-results {
  @extend .umlaut-separator;
   background-color: $umlautResultsBackgroundColor;
}

.umlaut-search-container .pagination {
  margin: 10px 0;
}

.umlaut-result {
  background-color: $umlautResultItemBackgroundColor;
  border-color:     $umlautResultItemBorderColor;
  margin-bottom: $line-height-computed/2;
  dl {
    margin: 0;
    dt, dd {
      margin-bottom: $line-height-computed/4;
    }
  }

  padding: $umlautIndent;

  .umlaut-citation-link {
    text-align: right;
  }
}

@media (max-width: $screen-sm-min) {
  .umlaut-result {
    .umlaut-citation-link {
      text-align: left;
    }
  }
}