.umlaut-search-form {  
  padding: 10px;
  border: 1px solid $umlautSearchFormBorderColor;
  background-color: $umlautSearchFormBackgroundColor;
  margin-top: $baseLineHeight;
  margin-bottom: $baseLineHeight;
  @include border-radius($baseBorderRadius);
  legend {
    border-color: $umlautSearchFormBorderColor;
  }
  .row-fluid {
    margin-bottom: $baseLineHeight;
  }
}