.background_progress_spinner {
  @include umlaut-indent;
  @extend .muted;
  line-height: 1.5em;
  img {
    vertical-align: bottom;
  }
}

.umlaut-resource-info .background_progress_spinner { 
  padding-left: 24px;
  padding-top: 8px;
}