.background_progress_spinner {
	margin-left: $umlautIndent;
  @extend .muted;
  line-height: 1.5em;
  img {
    vertical-align: top;
    margin-top: 1px;
  }
}

.umlaut-resource-info .background_progress_spinner { 
  padding-left: 24px;
  padding-top: 8px;
}