/* TODO: Clean up this CSS a LOT to make it easier for local apps to
 * selectively override. Quite likely turn it into one or more sass-ified .scss
 * in ./umlaut, with "umlaut.css" being a manifest file that includes
 * them in a way that can be over-ridden. See Blacklight. 
 */

/*********************/
/* GENERAL RESET CSS */
/*********************/

html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset{
	margin: 0;
	padding: 0;
	border: 0;
}

body {
 font-size:12px;
}

/* Not sure why we're forcing scroll bars, but that's what this
   does */
/* hide from IE mac \*/
html {
    min-height: 100%;
    margin-bottom: 1px;
}
/* end hiding from IE5 mac */
/* But on some pages, we definitely do NOT want to force
   vertical scroll bar */
html.noscroll {
  margin-bottom: 0;
  min-height: auto;
  /* Make IE7 hide that annoying grayed out scrollbar, when we REALLY
     don't want a scrollbar */
  overflow: auto;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
ul { 
	list-style-type: none;
}
h1 {
	font-size: 1.5em;
	font-style:italic;
	font-weight:bold;
	margin-bottom:1em;
}
h2 {
	font-size: 1.25em;
	font-weight:bold;
	margin-bottom:0.8em;
}
h3 {
	font-size: 1em;
	font-weight:bold;
	margin-bottom:0.8em;
}
h4 {
	font-size: 1em;
	font-weight:bold;
  margin-bottom: 0.125em;
}

/********************/
/* PAGE LAYOUT      */
/********************/

.container {
	width: 780px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
  margin-right: auto;
	padding:0;
	display: block; 
  border: 1px solid #eeb211;
  background-color: #FFFDEA;
}

.main_column {
	width: 545px;
	padding: 10px;
	margin:0;
	float: left;
	font-size:12px;
  background-color: #FFFDEA;
}

.main_column ol, .main_column ul{
	margin-left: 20px;
}

.sidebar {
  background-color: #FCF1D4;
	margin-left:575px;
	padding-top: 4em;
  padding-bottom: 2em;
  font-size:90%;
  /* For reasons I can not explain, giving this thing a border
     with the same color as it's bg keeps IE7 happier; without the
     border, IE7 doesn't really display the div right. */
  border: 1px solid #FCF1D4;
}

.permalink_bar {
  border-bottom: 1px solid #eeb211;
  background-color: #FCF1D4;
  padding: .25em;
  text-align: right;
}
.header {
  background-color: #FFFDEA;
  padding: 5px 10px;
  border-bottom: 1px solid #eeb211;
}

.footer {
  clear: both;
  font-size: 80%;
  border-top: 1px solid #eeb211;
  padding: 10px;
}


.umlaut_resolve {
  font-size: 12px;
  /* for reasons not clear, IE7 started freaking out if this bg color
     was there. Shouldn't be neccesary anyway, it was overkill. */
  /*background-color: #FFFDEA;*/
}

.umlaut_resolve a {
  text-decoration: none;
  font-weight: bold;
  color: #0066CC
}

.umlaut_resolve a:hover {
  color: #EEB211;
}

/* used on search screen */
.oneColumn {
  padding: 10px;
}

/****************************************************/
/* Styles for individual section boxes, and parent  */ 
/* areas, on resolve screen.                        */
/****************************************************/

.main_response_list {
  margin: 10px 0 10px 30px;
}

.main_response_list .umlaut_section {
  padding: .125em .25em;
  margin-top: 1.25em;
  margin-bottom: .5em;
}

.resource_info {
	font-size:11px;
	padding: 2px;
}	

.resource_info_sections .umlaut_section {
  margin-top: 12px;
  margin-bottom: 4px;
  padding-top: 6px;
  padding-left: 4px;
  margin-left: 8px;
}

.sidebar .umlaut_section {
	/*border:1px solid #e9e9e9;*/
	margin: .5em 1em .75em .5em;
	padding: 0.5em;
}

.umlaut_section .response_list {
  margin-left:20px;
	line-height:110%;
}

.sidebar .umlaut_section .response_list {
  margin-left:10px;
}


.response_list .response_item  {
  padding-bottom: 5px;
}

/*******************************/
/* Standard inteface devices      */
/*******************************/

.background_progress_spinner {
  line-height: 1.5em;
  color: gray;
}

.background_progress_spinner img {
  vertical-align: bottom;
}

.main_response_list .background_progress_spinner {
  padding-left: 18px; 
}

.sidebar .background_progress_spinner {
  padding-left: 10px; 
}

.resource_info .background_progress_spinner { 
  padding-left: 24px;
  padding-top: 8px;
}

.pagination {
    border: 1px solid #e9e9e9;
    font-size: 125%;
    margin-top: .75em;
    margin-bottom: .75em;
    padding: .25em;
}

.expand_contract_toggle {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: -18px;
}

/* IE-only, IE doesn't like our negative margin
   inside a table. Use that crazy '*' so only IE will see it. */
table .expand_contract_toggle {
  *margin-left: 0;
}



.section_subheading {
  margin-top: .75em;
  margin-bottom: .75em;
}

.expand_contract_content {
  margin-top: 0.5em;
}

div.expand_contract_section {
  margin-top: 0.25em;
}

li.expand_contract_section {
  margin: 0;
  padding: 0;
  background: none;
}



img.toggle_icon {
  border: none;
  vertical-align: middle;
  margin-right: 2px;
}


/******************************/
/* Errors and notices         */
/******************************/

.formError {
	font-weight: bold;
	color: #EA0000;
	font-style: italic;
  margin-top: 1em;
  margin-bottom: 1em;
}

.error {
	color:#CC0000;
	font-size:14px;
	font-weight:bold;
}

.notice {
  background-color: #FCF1D4;
}

.heading img {
  float: left;
}


/****************************************/
/* Special looks for particular sections */
/****************************************/

.umlaut_section.fulltext .response_list {
  margin-left: 4px;
}
.umlaut_section.fulltext .response_item  {
  background: url(famfamfam/page_text.gif) no-repeat 0px 0px;
  padding: 0px 18px 8px 22px;
}

.umlaut_section.fulltext .expand_contract_toggle,
.umlaut_section.audio .expand_contract_toggle,
.umlaut_section.excerpts .expand_contract_toggle {
  margin-left: 8px; 
}


.umlaut_section.audio .response_item {
  background: url(famfamfam/page_sound.gif) no-repeat 0px 0px;
  padding: 0px 18px 8px 22px;
}

.sidebar .umlaut_section.coins {
  border: none; 
}

.umlaut_section.excerpts .response_item  {
  background:  url(famfamfam/book_open.png) no-repeat 0px 0px;
  padding: 0px 18px 8px 22px;
}


#service_errors_content {
  background-color: white;
  padding: 5px;
  margin: 6px;
  border: 1px solid #E9E9E9;
}

#service_errors_content li {
  margin-bottom: 0.5em;
}

.sidebar .umlaut_section.help {
  background-color: #FFFDEA;
  border:1px solid #e9e9e9;
  padding: 0.5em;
  padding-bottom: 10px;
}

#helpicon {
  font-size: 45px;
  font-weight: bold;
  float: left;
  background-color: #FCF1D4;
  margin-right: 12px;
  padding-right: 6px;
  padding-left: 6px;
}

.error_icon {
  font-size: 22px;
  font-weight: bold;
  float: left;
  background-color: #FFFF66;
  color: 	#CC3333;
  margin-right: 4px;
}

.content {
  font-size: 12px;
  padding: 10px;
}


.holding_heading_row {
  border-top: 1px solid #E9E9E9; 
  padding-right: 18px;
  padding-top: 4px;
  padding-bottom: 0px;
}
.holding tr:first-child > td.holding_heading_row {
  border-top: none;
  padding-top: 0px;
}


/*******************************************/
/*  Little semantic pieces on resolve page */
/*******************************************/

.highlighted_section {
  background-color: white;
  border: 1px solid #e9e9e9;
  margin: -1px;
  padding: 4px;  
}

.link_source {
  color: gray;
  padding-left: 10px;
  margin-top: .25em;
}




.response_notes, .response_authentication_instructions {
   margin-top: .5em;   
   color: gray;
   font-weight: bold;
}

.sidebar .response_notes {
  margin-left: 10px;
}

.available {
	color: #00CC33;
	font-style: italic;
	font-size: 12px;
}

.notAvailable {
	color: #FF0000;
	font-style: italic;
	font-size:12px;
}
.fulltext .notAvailable {
  margin-left: 16px;
  padding-left: 0;
}

.section_prompt {
  font-style: italic;
  margin-left: 22px;
  margin-bottom: 0.8em;
}

.response_coverage_statement, .edition_warning {
  margin-bottom: .5em;
  margin-top: .5em;
  color: gray;
}

a:not(:hover) .coverage_summary {
  /* even though it's part of a hyperlink, we make it black for distinction */
  color: black; 
}

.edition_warning > .label {
  font-style: normal;
  font-weight: bold;
}

.debug_info {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 4px;
  background-color: #FCF1D4;
  overflow: auto;
}


 /* For disabled inline text  */
.grayedOut {
  color: #999999;
  text-decoration:  none;
}

/*************************************/
/* hacky presentation-related markup */
/*************************************/

.clear {
  clear: both;
}

hr {
  border: 0;
  height: 1px;
  color: #E9E9E9;  
}

.line {
	width: 100%;
	border-bottom: 1px solid #e9e9e9;
	margin: 4px 0px 0px;
}
	
.line2 {
	width: 100%;
	border-bottom: 1px solid #eeb211;
	margin: 10px 0px 15px;}

  ul.smallText li.fulltextlink {
  padding-top: 2px;
  clear: both;
}

.small_indent {
  margin-left: 10px;
}

.section_content_indent {
  margin-left: 20px;
}

.largeText { font-size:12px;}
.largeTextb { font-size:12px; font-weight:bold;}
.smallText { font-size:10px;}
.smallTextb { font-size:10px; font-weight:bold;}
.smallTextlink { font-size:10px; color:#0066CC} 

/***********************/
/* Autocomplete styles */
/***********************/

div.auto_complete {
  width: 350px;
  background: #fff;
}
div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}
div.auto_complete ul li {
  margin:0;
  padding:3px;
}
div.auto_complete ul li.selected {
  background-color: #ffb;
}
div.auto_complete ul strong.highlight {
  color: #800; 
  margin:0;
  padding:0;
}



/**********************/
/* Search controller  */
/**********************/

.citationLinker {
	font-size:11px;
	padding: 2px;
	border: 1px solid #ebb211;
	background-color: #eee;
  margin-bottom: 12px;
  margin-top: 12px;
}	
.citationLinker a:link { 
   /*text-decoration:underline;*/
   color : #666; 
}

.azNav {
	text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
	}
.azNav a {
  font-size: 1.1em;
  font-weight: bold;
  padding:.15em .3em .15em .3em;
	border: 1px solid #bbb;
	text-decoration: none;
	color : #0066CC;
  line-height: 2em;
	}
.azNav a:hover {
	background-color: #eee;
}

.journalList {
	line-height:18px;
}
.journalList a {color: #0066CC; }

/* search results */

.search_citation {
 	border-bottom: 1px solid #e9e9e9;
  padding: 10px;
  position: relative;
  overflow: auto;
  clear: both;
}

ul.citation {
  width: 80%;
  float: left;
  clear: both;
  position: relative;	
}

ul.citation li {
  padding-bottom: 0.66em;
  float: left;
}

.citation .label {
  display: block;
  text-align: right;
  width: 100px; 
  font-weight: bold;
  float: left;
  clear: left;
}

.citation .value {
  display: block;  
  float: left;  
  width: 400px;
  margin-left: 20px;
}

.citation .issn, .citation .isbn, .citation .cite, .citation .pub {
  font-size: 80%;
}
.citation .cite {
  margin-left: 120px; 
  clear: left;
  
}

.citation_link {
  float: left;
  width: 18%;
  text-align: right;
}



  
/***************************************************************/
/*  Banner page                                                */
/* Styles used for banner frame page with tiny menu in banner.
   These styles used both for frameset and iframe version. 
   Styles used for just iframe version come later. */


#banner_fulltext li.fulltextlink {
  padding-bottom: 4px;
}

#banner_fulltext li.frameescaping {
    background: url(famfamfam/page_up.gif) no-repeat 0px 0px;
  /* Special icon override */
}



body.banner {
  background-color: #E6D19A;
}

.banner_menu {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 0;
  right: 0;
  width: 100%;
  _height: 88%; /* IE6 only */
  font-size: 10px;
}

.banner_menu_inner_container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.banner_section {
  float: left; 
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%; 
  font-size:10px;
  margin-left: 6px;
  padding-left: 4px;
  padding-right: 2px;
}


.banner_menu h3 {
  font-size:10px; 
  font-weight:bold;
  margin-bottom: 2px;
  margin-top: 1px;
}

.banner_section li {
  padding-bottom: 3px;
}

.banner_section #helpicon {
  font-size: 18px;
}

#banner_controls {
  width: 140px;
}

#banner_citation {
  width: 200px;
  overflow-y: auto; 
  border: 1px solid #e9e9e9;
  background-color: white;
  margin-left: 22px;
}

#banner_fulltext {
  width: 260px; 
  overflow-y: auto;   
	border: 1px solid #e9e9e9;
  background-color: white;
}

#banner_help {
  width: 130px;
}

/* Styles used specifically for new iframe version of banner page.
   Note that page using iframe version styles must include the
   special banner_with_iframe_ie6.css file in conditional
   comments for IE less than 7 only, for IE6 and under compatibility. */
  #banner_with_iframe #frame {
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
  }
  #banner_with_iframe #content {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 98px;
    left: 0px;
    right: 0px;
    bottom: 0;  
  }
  /* new iframe style banner frameset */
  #banner_with_iframe #banner_header  {
      background-color: #E6D19A;
      position: absolute;
      /* Ie6 likes it better when height/width comes before top, left, right, no idea why.  */
      height: 94px;        
      top: 0;
      left: 0;
      right: 0;
      padding: 0;
      margin: 0;
      border-bottom: 4px gray solid;
      overflow-y: auto;
      overflow-x: hidden;
  }



/*************************************/
/* Ajax (and non) popup modal window */
/*************************************/

.ajax_modal_dialog {
  border: 1px solid #999999;
  background-color: white;
  position:absolute;
  left: 25%;
  top: 20%;
  z-index: 1000;  
  font-size: 12px;
}

.ajax_modal_bg_overlay {
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 99.9%;
    height: 99.9%;
    z-index: 999;
    opacity: 0.6;
    -moz-opacity: 0.6;  
    filter: alpha(opacity=60); 
}

.ajax_modal_dialog .inner_modal_dialog {    
  background-color: #FCF1D4;
  margin: 1px;
  padding: 1em;
}

.ajax_modal_dialog .modal_dialog_form {
  width:395px;
}

.ajax_modal_dialog h2, .ajax_modal_dialog h3 {
  font-weight: normal;
  font-size: 1em;
}

.success_status {
  position: absolute;
  left: 15%;
  top: 2em;
  z-index: 100;  
  background-color: #e6e6e6;
  border: 1px solid #999999;
  padding: 1em;  
}

.inner_modal_dialog .section {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.inner_modal_dialog li {
  margin-bottom: 0.33em;
}

.inner_modal_dialog ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.inner_modal_dialog .collection {
  font-weight: bold; 
}

.inner_modal_dialog .status {
  font-style: italic;
}

.no_js .inner_modal_dialog {
  margin: 2em;
}

.no_js .inner_modal_dialog .cancel {
   display: none;
}

	
/***************
 *  ADMIN SCREENS
 *
 *  Most of admin screen CSS is about _undoing_ general customizations
 *  umlaut css (or over-eager reset.css we're using, bah) 
 *  did to all HTML elements, oops. 
 **************************/
 
.admin {
 padding: 1em;
}
 
.admin h1 {
   margin-top: .67em;
   margin-bottom: .67em;
}

.admin h2 {
  margin-top: 1em;
  margin-bottom: .5em;
}

.admin ul {
  list-style-type: disc;
  padding-left: 40px;
}

.admin form {
  margin-bottom: 1em;
}

.admin table {
  margin-top: 2em;
  border-spacing: 0;
}

.admin td {
  padding: 6px 8px;
}

.admin tr.dispatch_line td {
    border-top: 1px grey solid;
}

