// Bootstrap Variables
$baseFontSize: 12px;
$baseLineHeight: 12px;
$linkColor: #0066CC;
// Umlaut Variables
// General Styles
$umlautBorderColor: #EEB211;
$umlautBackgroundColor: #FFFDEA;
// A-Z List
$umlautAzLinkColor: $linkColor;
$umlautAzBorderColor: #bbb;
$umlautAzBackground: #eee;
@import "bootstrap";
@import "bootstrap-responsive";
@mixin inner-padding {
  padding: {
    left: 20px;
    right: 20px;
  }
}

body {
  padding-left: 20px; 
}

h1 {
  font: {
    weight: bold;
    size: $baseFontSize * 2;
  }
  line-height: $baseLineHeight * 3;
}

h2 {
  @extend h1;
  line-height: $baseLineHeight * 2;
}

h3 {
  @extend h1;
  font: {
    size: $baseFontSize * 1.5;
  }
  line-height: $baseLineHeight * 1.5;
}

legend {
  font: {
    weight: bold;
  }
}

label {
  margin: {
    left: 10px;
    top: 10px;
    bottom: 10px;
  }
}

select {
  height: auto; /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px; /* For IE7, add top margin to align select with labels */
  line-height: auto;
}

.umlaut-container {
  padding: 0px;
  margin: {
    left: 20px;
    right: 20px;
    top: 10px;
    bottom: 10px;
  }
  display: block;
  border: 1px solid $umlautBorderColor;
  background-color: $umlautBackgroundColor;
}

.container-fluid {
  @include inner-padding;
}  

.header {
  @include inner-padding;
  border: {
    bottom: 1px solid $umlautBorderColor;
  }
}

.footer {
  @include inner-padding;
  margin: {
    top: 10px;
  }
  padding: {
    top: 10px;
    bottom: 10px;
  }
  border: {
    top: 1px solid $umlautBorderColor;
  }
}

.citationLinker {
	font-size:11px;
	padding: 5px;
	border: 1px solid #ebb211;
	background-color: $umlautAzBackground;
  margin-bottom: 12px;
  margin-top: 12px;
  a:link { 
    color : #666; 
  }
  .row-fluid {
    margin-bottom: $baseLineHeight;
  }
}

.azNav {
  margin-top: $baseLineHeight;
  margin-bottom: $baseLineHeight;
  a {
    font-size: 1.1em;
    font-weight: bold;
    padding:.15em .3em .15em .3em;
    border: 1px solid $umlautAzBorderColor;
    text-decoration: none;
    color: $umlautAzLinkColor;
    line-height: 2em;
    &:hover {
      background-color: $umlautAzBackground;
    }
  }
}

.separator {
  border: {
    top: 1px solid $umlautBorderColor;
  }
  padding: {
    top: 15px;
  }
}

.search_citation {
 	border-bottom: 1px solid #e9e9e9;
}

dl.citation {
  dt, dd {
    padding: {
      top: 5px;
    }
  }
}
.citation_link {
  padding: {
    top: 15px;
  }
  text-align: right;
}

.form-inline {
  .control-group {
    display: inline;
  }
}

@media (max-width: 767px) {
  .citation_link {
    text-align: left;
  }
  .form-inline {
    .control-group {
      display: block;
    }
  }
}
