@import "bootstrap";
@import "bootstrap-responsive";
@import "umlaut/variables";
@import "umlaut/mixins";
@import "umlaut/base";
@import "umlaut/icons";
@import "umlaut/forms";
@import "umlaut/misc";
@import "umlaut/az";
@import "umlaut/search";
@import "umlaut/results";
@import "umlaut/resolve";
@import "umlaut/spinner";
@import "umlaut/admin";
@import "umlaut/modal";

.umlaut-container {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid $umlautBorderColor;
  background-color: $umlautBackgroundColor;
}