<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="EN">
<head>
<title><%= AppConfig.param("app_name") %> | <%= @page_title %></title>
 <%= stylesheet_link_tag 'basic' %> 


<%= render(:partial => "layout_helpers/resolve_head_content" ) %>

</head>

<%= render(:partial => "layout_helpers/resolve_body_open" ) %>




  
  
<div id="container" class="umlaut container">

  <div id="header" class="centered_block header">
    <%= image_tag('/local/header.gif') %>
  </div>

   <div id="headerStatusBar" class="headerStatusBar">
    <div align="right"  class="largeText">URL:
        <% url = permalink_url(request, @user_request) %>
        <%= link_to url, url %>
      </div>
   </div>

    <%= @content_for_layout %>
    
    <div id="footer" class="footer">
    FindIt service provided by <%= link_to 'Johns Hopkins Libraries', 'http://webapps.jhu.edu/jhuniverse/libraries/' %> | Powered by <%= link_to 'Umlaut', 'http://umlaut.rubyforge.org/' %>, using services from <%= link_to 'SFX', 'http://www.exlibrisgroup.com/sfx.htm' %>, <%= link_to 'CrossRef', 'http://www.crossref.org' %>, <%= link_to 'Amazon', 'http://www.amazon.com' %>, <%= link_to 'OCLC Worldcat', 'http://www.worldcat.org' %>, <%= link_to 'ISBNdb', 'http://isbndb.com' %>, <%= link_to 'LibraryThing', 'http://www.librarything.com' %>, <%= link_to 'Google Books', 'http://books.google.com' %>, <%= link_to 'HathiTrust', 'http://www.lib.umich.edu/mdp/' %>, <%= link_to 'OpenLibrary', 'http://openlibrary.org/' %>, <%= link_to 'the Internet Archive', 'http://archive.org' %>, <%= link_to 'Worldcat Identities', 'http://orlabs.oclc.org/Identities/' %> and others.  
    <% if AppConfig.param('main_sfx_base_url') && @user_request %>

      <%= link_to('[T]', "http://app01.mse.jhu.edu/findit-dev/resolve?#{@user_request.to_context_object.kev}") %>
      
      <%= 
      url = AppConfig.param('main_sfx_base_url');
      url += '?'
      url += @user_request.to_context_object.kev
      url += "&sfx.ignore_date_threshold=1" if title_level_request?
      
      link_to('[S]', url, :target=>'_blank') 
      %>
    <% end %>
    
    <%= link_to_toggle_debug_info %>
    
  </div>
</div>



</body>

</html>
