<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<html lang="EN">
<head>
<title><%= AppConfig.param("app_name") %> 
  <% if @page_title %>
  | 
  <%end%>
  <%= @page_title %></title>
 <%= stylesheet_link_tag 'basic' %> 


<%= render(:partial => "layout_helpers/resolve_head_content" ) %>

</head>

<body>



  
  
<div class="umlaut container">

    <div id="header" class="header">
      <%= image_tag('/local/header.gif') 
      %>
    </div>

    <%= @content_for_layout %>
    
    <!-- even with nothing in it, footer neccesary for CSS clear=both -->
    <div class="footer">
      FindIt service provided by <%= link_to 'Johns Hopkins Libraries', 'http://webapps.jhu.edu/jhuniverse/libraries/' %> | Powered by <%= link_to 'Umlaut', 'http://umlaut.rubyforge.org/' %>, using services from <%= link_to 'SFX', 'http://www.exlibrisgroup.com/sfx.htm' %>, <%= link_to 'CrossRef', 'http://www.crossref.org' %>, <%= link_to 'Amazon', 'http://www.amazon.com' %>, <%= link_to 'OCLC Worldcat', 'http://www.worldcat.org' %>, <%= link_to 'ISBNdb', 'http://isbndb.com' %> and others.  
    </div>
</div>

</body>

</html>
