<h1>Contact Us <small>Send us questions, problems, or comments</small></h1>

<%= form_tag(feedback_path(params[:request_id], :contact_id => params[:contact_id]) , :method => :post, :class => "feedback-form form-horizontal") do %>
    
    <div class="form-group">
        <label class="control-label" for="name">Your Name</label>
        <div class="controls">
          <input type="text" id="name" name="name">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="email">Your Email</label>
        <div class="controls">
          <input type="text" id="email" name="email">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="feedback">Question or Comment</label>
        <div class="controls">
          <textarea id="feedback" name="feedback" class="input-xxlarge" rows=6></textarea>
        </div>
    </div>


    <div class="form-group">
        <div class="controls">
          <button type="submit" class="btn btn-default">Send</button>
        </div>
    </div>
    
<% end %>