<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<html lang="EN">
<head>
<title>Find it! | Journals
<% if @action_name != "journals" and @action_name != "index"%>
:  <%= @page_title %>
<% end %>
</title>

<%= stylesheet_link_tag 'basic' %> 

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<%= render_javascript_behaviors(:search_complete) %>

<!-- open search auto-discovery -->
<link rel="search"
     type="application/opensearchdescription+xml"
    title="<%= AppConfig.param('opensearch_short_name', 'Find Journals') %>"
     href="<%= url_for(:controller=>'open_search', :only_path=>false) %>" ></link>

</head>
<body>

<div class="umlaut container">

 <%= yield %>
 
</div>

</body>
</html>

