<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<html lang="EN">
<head>
<title>Find it! | Journals
<% if @action_name != "journals" and @action_name != "index"%>
:  <%= @page_title %>
<% end %>
</title>
<link rel="stylesheet" type="text/css" media="screen" href="http://www.library.gatech.edu/css/umlaut.css">
<%= javascript_include_tag :defaults %>

<link href="http://www.library.gatech.edu/css/print_style.css" rel="stylesheet" media="print" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>
<body>
<div id="presentationContainer">
  <!-- Top Yellow Area -->
  <div id="utilityContainer">&nbsp;

      <!--close utilityContainer-->
  </div>
  <!-- GT Logo Area -->
  <div id="identitycontainer1"><img src="http://www.library.gatech.edu/images/GTLiblogo.gif" alt=" " width="300" height="76">
      <!--close identitycontainer1-->
  </div>
  <div id="identityContainer"><a href="http://www.gatech.edu"><img src="http://www.library.gatech.edu/images/logo-gatech.gif" alt="Link to Georgia Tech home page" width="179" height="77" border="0"></a><a href="http://www.library.gatech.edu"><img src="http://www.library.gatech.edu/images/header-library.gif" alt="Link to Library home page" width="581" height="77" border="0"></a>
      <!--close identityContainer-->
  </div>
<!-- Middle section hold rotating photos -->
  <div id="splashContainer"><img src="http://www.library.gatech.edu/images/pic_bannersm.jpg" alt="pictures of the GT Library"><!--Closing splashContainer--></div>
  <div id="breadCrumbing2">

    <p><a href="http://www.library.gatech.edu">Home</a> &gt;&gt; 
    <a href="http://www.library.gatech.edu/search_locate/">Search &amp; Locate</a> &gt;&gt;
    <% if @action_name != "journals" and @action_name != "index"%>
    <%= link_to 'Journals', :controller=>'search', :action=>'journals' -%> &gt;&gt; 
    <span id="breadCrumbing2Active"><%= @page_title %></span>
    <% else %>
    <span id="breadCrumbing2Active">Journals</span>
    <% end -%>
    </p>
    <!--close breadcrumbing2--></div>
  <div id="contentContainer3">

 <%= @content_for_layout %>
 
  <!--close contentContainer3-->
  </div>
		 <div id="footer">
               <p><a href="http://www.library.gatech.edu/">LIBRARY AND
                   INFORMATION CENTER  </a><br>
                 &copy;2006 Georgia Institute of Technology :: Atlanta,

                  Georgia 30332
               </p>
  <!--close footer-->
  </div>
  <!--close presentationContainer-->

</div>

</body>
</html>

